/target/
algorithm/Debug/
algorithm/64/
/algorithm/algorithm/Debug
/bin/
/build/
/.classpath
/.project
/.settings/
/.checkstyle
/atlassian-ide-plugin.xml
/.idea/
/*.iml
/*.ipr
/*.iws
*.orig
*.swp
*~
*.~*#
*.sdf
*.tlog
*.log