/target/
/algorithm/Debug/
/Debug/
/algorithm/x64/
/algorithm/algorithm/Debug
/algorithm/algorithm/x64
/bin/
/build/
/.classpath
/.project
/.settings/
/.checkstyle
/atlassian-ide-plugin.xml
/.idea/
/*.iml
/*.ipr
/*.iws
*.orig
*.swp
*~
*.~*#
*.sdf
*.tlog
*.log